<%- model_class = Locacao -%>
<div class="page-header">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_locacao_path, :class => 'btn btn-primary pull-right' %>
  <h1>Locações</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cliente_id) %></th>
      <th><%= model_class.human_attribute_name(:veiculo_id) %></th>
      <th><%= model_class.human_attribute_name(:custo_locacao) %></th>
      <th><%= model_class.human_attribute_name(:km_inicial) %></th>
      <th><%= model_class.human_attribute_name(:km_final) %></th>
      <th><%= model_class.human_attribute_name(:data_locacao) %></th>
      <th><%= model_class.human_attribute_name(:data_prevista) %></th>
      <th><%= model_class.human_attribute_name(:data_devolucao) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @locacoes.each do |locacao| %>
      <tr>
        <td><%= link_to locacao.id, locacao_path(locacao) %></td>
        <td>
          <%= link_to cliente_path(locacao.cliente) do %>
            <%= locacao.cliente.nome %> <br>
            <%= locacao.cliente.cpf_formatted %> <br>
            <%= locacao.cliente.fone %> <br>
          <% end %>
        </td>
        <td>
          <%= link_to veiculo_path(locacao.veiculo) do %>
            <%#= image_tag locacao.veiculo.foto.thumb.url %>
            <%= image_tag locacao.veiculo.foto_url(:thumb) %> <br>
            <%= "#{locacao.veiculo.placa} <br> #{locacao.veiculo.modelo.nome}".html_safe %>
          <% end %>

        </td>
        <td>
            Valor Diária: <%= number_to_currency locacao.valor_diaria if locacao.valor_diaria.present? %> <br>
            Valor Desconto: <%= number_to_currency locacao.valor_desconto if locacao.valor_desconto.present? %> <br>
            Dias alugados: <%= locacao.dias_locados %><br>
            Valor Total: <%= number_to_currency locacao.custo_total if locacao.custo_total.present? %>
        </td>
        <td><%= locacao.quilometragem_inicial %> km</td>
        <td><%= "#{locacao.quilometragem_final} km" if locacao.quilometragem_final.present? %></td>
        <td><%=l locacao.data_locacao if locacao.data_locacao.present? %></td>
        <td><%=l locacao.data_prevista if locacao.data_prevista.present? %></td>
        <td><%=l locacao.data_devolucao if locacao.data_devolucao.present? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_locacao_path(locacao), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      locacao_path(locacao),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
